[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = ".next"
  environment = { NEXT_PUBLIC_MAILTESTER_API_KEY = "sub_1SQ8ntAJu6gy4fiYiCXxoUQc" }

[functions]
  node_bundler = "esbuild"

[[headers]]
  for = "/.netlify/functions/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "GET, POST, PUT, DELETE, OPTIONS"
    Access-Control-Allow-Headers = "Content-Type, Authorization"
